body{
    margin: 40px;
    color: #424242;
    background-color: aquamarine;
}
header{
    background-color: white;
}

section{
    display: flex;
    background-color: antiquewhite;
}

#Inquiry{
float: left;
}