body{
    color: #424242;
    background-color: white;
    border-top: 10px solid black;
}
header{
    background-color: grey;
}

section{
    display: flex;
    background-color: antiquewhite;
}

#Inquiry{
    float: left;
    margin-right: 10px;
    background-color: silver;
}
#GardenPhoto{
    height: 400px;
    width: 400px;
}
.Submission{
    background-color: silver;
}