body{
    margin: 40px;
    color: #424242;
    background-color: white;
    border-top: 10px black;
}
header{
    background-color: grey;
}

section{
    display: flex;
    background-color: antiquewhite;
}

#Inquiry{
    padding: 20px;
}